html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Alex';
    font-style: normal;
    font-weight: normal;
    src: local('Alex Brush'), url('./font/AlexBrush-Regular.woff') format('woff');
}

.roboto-300 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.roboto-500 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.alex {
    font-family:'Alex' !important;
}

.landing {
    position: relative;
}

.landing img {
    width: 100vw;
}

.landing-body {
    position: absolute;
    top: 5rem;
    width: 100vw;
    height: 30rem;
    z-index: 2;
}

.mask {
    position: absolute;
    top: 5rem;
    width: 100vw;
    height: 17rem;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.505);
     
}





