html {
    box-sizing: border-box;
    height: 100%;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Alex';
    font-style: normal;
    font-weight: normal;
    src: local('Alex Brush'), url('./font/AlexBrush-Regular.woff') format('woff');
}

.roboto-300 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.roboto-500 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.alex {
    font-family:'Alex' !important;
}

.landing {
    position: relative;
}

.landing img {
    width: 100vw;
}

.landing-body {
    position: absolute;
    top: 2rem;
    width: 100vw;
    height: 30rem;
    z-index: 2;
}

.mask {
    position: absolute;
    bottom: -1px;
    width: 100vw;
    height: 3.2rem;
    z-index: 2;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%);
}


.btn:focus {
    box-shadow: none;
}